body{
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
}
.top-bar{
  background: transparent;
}
.off-canvas-content{
  background: transparent;
}
#top-bar-menu{
  position: relative;
  ul{
    background: none;
    float: left;
  }
}

.nav__menu__logo{
  float: left;
}