/******************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.

******************************************************************/
/*********************
TOOLS
*********************/
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/*********************
COLORS
*********************/
/*********************
TYPOGRAPHY
*********************/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('assets/fonts/font-name.eot');
    	src: url('assets/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('assets/fonts/font-name.woff') format('woff'),
             url('assets/fonts/font-name.ttf') format('truetype'),
             url('assets/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic; }

/*********************
CSS3 GRADIENTS.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
.huge_button__side {
  margin: 0;
  padding: 0; }

.woocommerce div.product div.images {
  width: 100% !important;
  margin: 0 !important; }

.woocommerce div.product form.cart .variations tr:first-child {
  position: absolute;
  left: 0;
  top: 0; }

@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/bebas_neue/BebasNeue.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bebas_neue/BebasNeue.woff2") format("woff2"), url("../fonts/bebas_neue/BebasNeue.woff") format("woff"), url("../fonts/bebas_neue/BebasNeue.ttf") format("truetype"); }

@font-face {
  font-family: 'BebasNeueLight';
  src: url("../fonts/bebas_neue/BebasNeueLight.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bebas_neue/BebasNeueLight.woff2") format("woff2"), url("../fonts/bebas_neue/BebasNeueLight.woff") format("woff"), url("../fonts/bebas_neue/BebasNeueLight.ttf") format("truetype"); }

body {
  background: url("../images/background.jpg") no-repeat;
  background-size: cover; }

.top-bar {
  background: transparent; }

.off-canvas-content {
  background: transparent; }

#top-bar-menu {
  position: relative; }

.off-canvas-wrapper {
  height: 100%; }
  .off-canvas-wrapper-inner {
    height: 100%; }

.nav__menu {
  padding: 10px 0 0 20px; }
  .nav__menu__logo {
    float: left; }
  .nav__menu ul {
    background: none;
    float: left;
    margin-left: 20px; }
    .nav__menu ul .menu-item {
      height: 71px; }
      .nav__menu ul .menu-item a {
        font-size: 18px !important;
        color: #0a0a0a; }

.footer {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  width: 100%;
  color: #cdcdcd;
  background-color: rgba(120, 120, 120, 0.75); }
  .footer__inner {
    width: 100%; }
    .footer__inner__links {
      float: right; }
      .footer__inner__links li a {
        text-transform: uppercase;
        border-right: 2px solid #cdcdcd;
        color: #cdcdcd;
        letter-spacing: 1px;
        padding: 0 1rem;
        margin: 0.7rem 0; }
      .footer__inner__links li:last-child a {
        border: none; }
    .footer__inner__copyright {
      float: left; }
      .footer__inner__copyright p {
        letter-spacing: 1px;
        line-height: 1em;
        padding: 0 1rem;
        margin: 0.7rem 0; }

.huge_button {
  position: absolute;
  min-width: 1000px;
  right: 0;
  bottom: 200px; }
  .huge_button h2 {
    color: #fefefe;
    padding: 0 40px 0 20px;
    background-color: #441628;
    display: inline-block;
    font-family: 'BebasNeueLight';
    letter-spacing: 10px;
    font-size: 72px;
    margin: 0; }
  .huge_button__side {
    position: relative; }
    .huge_button__side__image {
      height: 100%;
      position: absolute;
      right: 0;
      padding: 20px;
      background: #e6e6e6; }
      .huge_button__side__image img {
        height: 100%; }

.product-image {
  width: 200px; }

.product {
  display: block;
  width: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.buy-your-hat {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 80%;
  overflow: hidden; }
  .buy-your-hat__product__image {
    width: 200px;
    height: 300px; }
  .buy-your-hat__product:nth-child(1) .buy-your-hat__product__image {
    position: absolute;
    top: 0;
    left: 0; }
  .buy-your-hat__product:nth-child(2) .buy-your-hat__product__image {
    position: absolute;
    top: 0;
    left: 200px; }
