@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/bebas_neue/BebasNeue.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bebas_neue/BebasNeue.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/bebas_neue/BebasNeue.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/bebas_neue/BebasNeue.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'BebasNeueLight';
  src: url('../fonts/bebas_neue/BebasNeueLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bebas_neue/BebasNeueLight.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/bebas_neue/BebasNeueLight.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/bebas_neue/BebasNeueLight.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
}

.top-bar {
  background: transparent;
}

.off-canvas-content {
  background: transparent;
}

#top-bar-menu {
  position: relative;
}

.off-canvas-wrapper {
  height: 100%;
  &-inner {
    height: 100%;
  }
}

.nav__menu {
  padding: $zk-margin-small-vertical 0 0 $zk-margin-small-side;
  &__logo {
    float: left;
  }
  ul {
    background: none;
    float: left;
    margin-left: $zk-margin-small-side;
    .menu-item {
      height: 71px;
      a {
        font-size: $zk-size-large !important;
        color: $black;
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  width: 100%;
  color: $zk-color-font-light;
  background-color: $zk-color-grey-cover;
  &__inner {
    width: 100%;
    &__links {
      float: right;
      li {
        a {
          text-transform: uppercase;
          border-right: 2px solid $zk-color-font-light;
          color: $zk-color-font-light;
          letter-spacing: 1px;
          padding: 0 1rem;
          margin: 0.7rem 0;
        }
        &:last-child {
          a {
            border: none;
          }
        }
      }
    }
    &__copyright {
      float: left;
      p {
        letter-spacing: 1px;
        line-height: 1em;
        padding: 0 1rem;
        margin: 0.7rem 0;
      }
    }
  }
}

.huge_button{
  position: absolute;
  min-width: 1000px;
  right: 0;
  bottom: 200px;
  h2 {
    color: $white;
    padding: 0 $zk-margin-small-side*2 0 $zk-margin-small-side;
    background-color: $zk-color-background-burgundy;
    display: inline-block;
    font-family: 'BebasNeueLight';
    letter-spacing: 10px;
    font-size: $zk-size-h2-huge;
    margin: 0;

  }
  &__side{
    position: relative;
    @extend %nullPad;
    &__image{
      height: 100%;
      position: absolute;
      right: 0;
      padding: $zk-margin-small-side;
      background: $light-gray;
      img{
        height: 100%;
      }

  }
}

}


.product-image {
  width: 200px;
}

.product {
  display: block;
  width: 100%;
  position: absolute !important;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.buy-your-hat {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 80%;
  overflow: hidden;
  &__product {
    $product: &;
    &__image{
      width: 200px;
      height: 300px;
    }
    &:nth-child(1) {
      #{$product}__image {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &:nth-child(2) {
      #{$product}__image {
        position: absolute;
        top: 0;
        left: 200px;
      }
    }
  }
}
