.woocommerce div.product div.images{
  width: 100% !important;
  margin: 0 !important;
}


.woocommerce div.product form.cart .variations{
  tr:first-child{
    position: absolute;
    left: 0;
    top: 0;
  }
}